<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.empirestate.botspost.preamped">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="za.co.empirestate.botspost.preamped.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="za.co.empirestate.botspost.preamped.permission.C2D_MESSAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegOrLogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="za.co.empirestate.botspost.preamped" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".PaymentDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".ConfirmPurchaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".SuccessfullActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".UpdateCardActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".UnsuccessfullActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".TermsAndConditions" />

        <service android:name=".ConfirmTransactionService" />
        <service android:name=".GcmRegistrationService" />
        <service android:name=".GcmIntentService"  android:enabled="false" />
        <service android:name=".EncryptionService" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransactionHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PendingActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us" />
        <activity
            android:name=".AirtimeActivity"
            android:label="@string/title_activity_airtime"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".RenewPoBox"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".UpdateMeterNumber"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".NewTransactionHistory"
            android:label="@string/title_activity_new_transaction_history" />
        <activity
            android:name=".AirtimeSuccessActivity"
            android:label="@string/title_activity_airtime_success"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity android:name=".PostBox" />
        <activity
            android:name=".PoBoxSuccessfull"
            android:label="@string/title_activity_po_box_successfull" />
        <activity
            android:name=".SelectPostBox"
            android:label="@string/title_activity_select_post_box"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".AirtimeConfirm"
            android:label="@string/title_activity_airtime_confirm" />
        <activity
            android:name=".Eleconfirm"
            android:label="@string/title_activity_eleconfirm" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
